@primary_color: #216ec1;
@lighten_primary_color : lighten(@primary_color, 40%);
@error_field: #f58181;

.sw-theme-arrows {
    border-radius: 5px;
    border: 1px solid #ddd;
}

.sw-theme-arrows>.sw-container {
    min-height: 200px;
}

.sw-theme-arrows .step-content {
    padding: 0 10px;
    border: 0px solid #D4D4D4;
    background-color: #FFF;
    text-align: left;
}

.sw-theme-arrows .sw-toolbar {
    padding: 10px;
    margin-bottom: 0 !important;
}

.sw-theme-arrows>.sw-toolbar-top {}

.sw-theme-arrows>.sw-toolbar-bottom {}

.sw-theme-arrows>ul.step-anchor {
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 0px;
    background: #f5f5f5;
    border-radius: 0;
    border-top-right-radius: 5px;
    list-style: none;
    overflow: hidden;
}

.sw-theme-arrows>ul.step-anchor li+li:before {
    padding: 0;
}

.sw-theme-arrows>ul.step-anchor>li {}

.sw-theme-arrows>ul.step-anchor>li>a,
.sw-theme-arrows>ul.step-anchor>li>a:hover {
    color: #bbb;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    border: 0 !important;
    border-radius: 0;
    outline-style: none;
    background: #f5f5f5;
}

.sw-theme-arrows>ul.step-anchor>li>a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #f5f5f5;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.sw-theme-arrows>ul.step-anchor>li>a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ddd;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.sw-theme-arrows>ul.step-anchor>li:first-child>a {
    padding-left: 15px;
}

.sw-theme-arrows>ul.step-anchor>li>a:hover {
    color: #bbb;
    text-decoration: none;
    outline-style: none;
    background: #f5f5f5;
    border-color: #f5f5f5;
}

.sw-theme-arrows>ul.step-anchor>li>a:hover:after {
    border-left-color: #f5f5f5;
}

.sw-theme-arrows>ul.step-anchor>li>a small {}

.sw-theme-arrows>ul.step-anchor>li.clickable>a:hover {
    color: #4285F4 !important;
    background: #46b8da !important;
}

.sw-theme-arrows>ul.step-anchor>li.active>a {
    border-color: @primary_color  !important;
    color: #fff !important;
    background: @primary_color  !important;
}

.sw-theme-arrows>ul.step-anchor>li.active>a:after {
    border-left: 30px solid @primary_color  !important;
}

.sw-theme-arrows>ul.step-anchor>li.done>a {
    border-color: @lighten_primary_color  !important;
    /*  #5cb85c */
    color: #fff !important;
    background: @lighten_primary_color  !important;
}

.sw-theme-arrows>ul.step-anchor>li.done>a:after {
    border-left: 30px solid @lighten_primary_color;
    /* c3e6cb */
}

.sw-theme-arrows>ul.step-anchor>li.danger>a {
    border-color: #d9534f !important;
    color: #fff !important;
    background: #d9534f !important;
}

.sw-theme-arrows>ul.step-anchor>li.danger>a:after {
    border-left: 30px solid #d9534f !important;
}

.sw-theme-arrows>ul.step-anchor>li.disabled>a,
.sw-theme-arrows>ul.step-anchor>li.disabled>a:hover {
    color: #eee !important;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
    .sw-theme-arrows>ul.step-anchor {
        border: 0;
        background: #ddd !important;
    }

    .sw-theme-arrows>.nav-tabs>li {
        float: none !important;
        margin-bottom: 0;
    }

    .sw-theme-arrows>ul.step-anchor>li>a,
    .sw-theme-arrows>ul.step-anchor>li>a:hover {
        padding-left: 15px;
        margin-right: 0;
        margin-bottom: 1px;
    }

    .sw-theme-arrows>ul.step-anchor>li>a:after,
    .sw-theme-arrows>ul.step-anchor>li>a:before {
        display: none;
    }
}

/* Loader Custom Style */
.sw-theme-arrows::before {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #5cb85c;
}

// .h-step_error>a{
//     background: #f58181 !important;
// }

// .h-step_error>a:after {
//     background: #f58181 !important;
// }