.toggle-switch input[type=checkbox] {
    display: none
}

.toggle-switch label {
    cursor: pointer;
}

.toggle-switch
{
    width:289px;
}

.toggle-switch label .toggle-track {
    display: block;
    height: 35px;
    width: 289px;
    background: #eee;
    border-radius: 20px;
    position: relative;
    margin-bottom: 25px;
    border: 1px solid #ccc;
}

.toggle-switch .toggle-track:before {
    content: 'EMAIL';
    display: inline-block;
    font-weight: bolder;
    text-align: -webkit-center;
    padding: 9px;
    height: 18px;
    width: 58px;
    background: @primary_button;
    ;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    transition: right .2s ease-in;
}

.toggle-switch input[type="checkbox"]:checked+label .toggle-track:before {
    content: 'PHONE';
    background: @secondary_button;
    right: 216px;
    text-align: -webkit-center;
    font-weight: bolder;
    z-index: 1;
}
