.fieldset-icon {
    background-image: url("opt-icon.png");
    display: inline-block;
    height: 85px;
    width: 100px;
}


/* .toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
} */