.h-rfq_subheader {
    font-size: 16px;
    font-weight: 600;
}

.ui-autocomplete {
    border: 1px solid #d4d4d4 !important;
    border-bottom: none !important;
    border-top: none !important;

    .ui-menu-item {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;

        &:hover {
            background-color: #e9e9e9;
        }
    }
}

.h-rfq_products {
    .h-rfq_product {
        border: 1px solid #e6e6e6;
        padding: 10px;
        margin-top: 10px;
        border-left: 5px solid #216ec1;
        margin-bottom: 20px;
    }

    .h-rfq_add_product {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: right;
    }
}

.h-rfq_subheader {
    font-family: MuseoSansBlack, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: 20px;
}

.h_rfq-details_content {
    margin-bottom: 5px;
}

.ca-sh-morecontent span {
    display: none
}

.h-rfq_details_category {
    padding-top: 5px;
}

.h-rfq_details_description {
    padding-top: 5px;

}

.ty-quotation-attachments {
    margin-top: 28px;
}

.h-rfq_download_attachments {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-column-gap: 10px;

    .h-rfq_download_attachment {
        height: 100px;
        width: 100px;
        overflow: hidden;
        box-sizing: border-box;
        background: rgb(235, 235, 235);
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 5px;
        word-break: break-word;
    }
}

.h-rfq_communication {
    .ty-discussion-post {
        display: grid;
        justify-content: right;
        background: #f7f7f7;

        .ty-caret-bottom {
            right: 10px;
            left: auto;
        }
    }

    .ty-discussion-post__author {
        float: right;
    }

    .ty-discussion-post__date {
        float: left;
    }
}

.h-rfq_communication_list_end {
    margin-bottom: 15px;
}

.h-rfq_selecbox_placeholder {
    // color: rgb(201, 193, 193);
}

.h-rfq_smartwizard {
    .btn-group {
        text-align: right;
    }

    .nav {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .nav-link {
        display: block;
        padding: .5rem 1rem;
        min-height: 60px;
    }

    .nav-tabs {
        border-bottom: 1px solid #dee2e6;

        .nav-link {
            border: 1px solid transparent;
            // border-top-left-radius: .25rem;
            // border-top-right-radius: .25rem;
        }

        .nav-item {
            margin-bottom: -1px;
            padding: 0px;
            min-width: 200px;
        }
    }

    .h_rfq-buyer_information {
        display: grid;
        grid-template-columns: 0.7fr 1fr;
    }
}

.sw-btn-group {
    .ty-btn.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.vendor-quote-block {
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid rgb(198, 198, 198);
    padding: 10px;
}

.vendor-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: max-content;
    white-space: normal;
    height: 36px;
    min-width: 36px;
    padding: 0 15px;
    line-height: 96%;
    text-transform: none;
    letter-spacing: .01929em;
    color: #333;
    border: 0 none;
    background: #eee;
    background-clip: border-box;
    -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms;
    transition: all 0.3s ease-in-out;
}

.vendor-approved-btn {
    text-decoration: none;
    color: white;
    background: rgb(50, 144, 50);
}

.vendor-rejected-btn {
    color: white;
    background: rgb(231, 87, 87);
}